<div class="events-page">
  <div class="search">
    <div class="search__input-group">
      <input id="searchConf" type="text" placeholder="Поиск..." class="search__input">
      <span class="search__button-group">
        <button id="searchBtn" type="button" class="search__button">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </span>
    </div>
    <a id="todaysConf" class="search__filter">Показать только сегодняшние</a>
  </div>

  <button role="button" (click)="goToAddEventPage()" class="add-button">
    Добавить конференцию
  </button>

  <table id="tableEvents" class="events-table">
    <thead>
      <tr>
        <th scope="col" class="events-table__cell events-table__cell--header">Название конференции</th>
        <th scope="col" class="events-table__cell events-table__cell--header">Дата и время проведения</th>
        <th scope="col" class="events-table__cell events-table__cell--header">Адреc проведения</th>
        <th scope="col" class="events-table__cell events-table__cell--header">Организатор</th>
        <th scope="col" class="events-table__cell events-table__cell--header events-table__cell--delete"></th>
      </tr>
    </thead>
    <tbody id="eventsData" *ngFor="let event of events">
      <tr id="row1" (click)="goToEditEventPage()" class="events-table__row">
        <td class="events-table__cell"> {{ event.name }} </td>
        <td class="events-table__cell"> {{ event.dateStart }}  - {{ event.dateEnd }} </td>
        <td class="events-table__cell"> {{ event.address }} </td>
        <td class="events-table__cell">
          {{ event.organizationName }}
          <span class="events-table__timestamp"> {{ event.dateStart }} - {{ event.dateEnd }} </span>
        </td>
        <td class="events-table__cell events-table__cell--delete">
          <img id="event.id"  width="20px" onclick="event.stopPropagation()" src="assets/images/delete.png" class="events-table__delete-button">
        </td>
      </tr>
    </tbody>
  </table>
  <ul role="menubar" aria-label="Pagination" class="pagination">
      <li class="pagination__button"><a href="events"><span>
        <fa-icon [icon]="faChevronLeft"></fa-icon>
      </span></a></li>
      <li class="pagination__button pagination__button--current"><a href="events">1</a></li>
      <li class="pagination__button"><a href="events">2</a></li>
      <li class="pagination__button"><a href="events">3</a></li>
      <li class="pagination__button"><a href="events">4</a></li>
      <li class="pagination__button"><a href="events">5</a></li>
      <li class="pagination__button"><a href="events">6</a></li>
      <li class="pagination__button"><a href="events">7</a></li>
      <li class="pagination__button"><a href="events">8</a></li>
      <li class="pagination__button"><a href="events">9</a></li>
      <li class="pagination__button"><a href="events">10</a></li>
      <li class="pagination__button"><a href="events"><span>
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </span></a></li>
    </ul>


</div>
