.events-page {
  padding-right: 100px;
  padding-left: 100px;
  overflow-y: auto;
}
@media (max-width: 760px) {
  .events-page{
    padding-left: 16px;
    padding-right: 16px;
  }
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  text-align: center;
}

.search__input-group {
  display: flex;
  flex-grow: 1;
  max-width: 400px;
  border-radius: 6px;
  margin-right: 15px
}

.search__input {
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  padding: 6px 12px;
}
.search__input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.search__button-group {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.search__button {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background: #337ab7;
  background-image: none;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.2s linear;
  padding: 6px 12px;
  margin-bottom: 0;
  cursor: pointer;
}

.search__filter {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #3F4F98;
  cursor: pointer;
}

.add-button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #337ab7;
  background-image: none;
  border-color: #2e6da4;
  border: 1px solid transparent;
  border-radius: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.2s linear;
  margin-bottom: 20px;
  padding: 16px 30px;
  cursor: pointer;
}

.search__button:focus, .search__button:hover, .add-button:focus, .add-button:hover {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}

 .search__button:focus, .add-button:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.events-table {
  width: 100%;
  max-width: 100%;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.events-table__row {
  cursor: pointer;
}
.events-table__row--header {
  cursor: default;
}

.events-table__delete-button {
  opacity: 0;
  vertical-align: top;
  float: right;
  transition: all 0.1s linear;
}

.events-table__row:hover .events-table__delete-button {
  opacity: 1;
}

.events-table__cell {
  text-align: center;
  padding: 4px 8px;
}
.events-table__cell--header {
  background-color: #3F4F98;
  color: #fff;
  height: 60px;
  vertical-align: middle;
  text-align: center;
  padding: 0px 8px;
}
.events-table__cell--delete {
  width: 20px;
}

.events-table__timestamp {
  display: none;
}


.pagination {
  list-style: none;
}

.pagination,
.pagination__button a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination__button {
  background-color: #fff;
}

.pagination__button a {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination__button a:hover {
  z-index: 3;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}

.pagination__button:not([class*="pagination__button--current"]) a:focus,
.pagination__button:not([class*="pagination__button--current"]) a:active {;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,.25);
  border-left-width:1px;
}

.pagination__button:first-of-type a {
  border-left-width: 1px;
}

.pagination__button.pagination__button--current a {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}

@media only screen and ( max-width: 40.063em ) {
  .pagination__button {
    // position: absolute;
    // top: -9999px;
    // left: -9999px;
    display: none;
  }

  .pagination__button.pagination__button--current,
  .pagination__button:first-of-type,
  .pagination__button:last-of-type,
  {
    // position: initial;
    // top: initial;
    // left: initial;
    display: initial;
  }

}

@media only screen and ( max-width: 30.063em ) {
  h1 { font-size: 1.35em !important; }
  .pagination__button:nth-of-type(2) a { border-left-width: 1px; }
}

@media only screen and ( max-width: 15.063em ) {
  .pagination__button { width: 50%;}
  .pagination__button.pagination__button--current {
    order: 2;
    width: 100%;
    border-left-width: 1px;
  }
}
.pagination__button:first-child > a, .pagination__button:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination__button:last-child > a, .pagination__button:last-child > span {
  margin-left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
