<nav class="navigation-bar">
  <ul class="navigation-bar__list">
    <li class="navigation-bar__item"><a class="navigation-bar__link" routerLink="home" routerLinkActive="navigation-bar__link--active">
      <fa-icon [icon]="faHome" class="navigation-bar__icon"></fa-icon>
      <span class="navigation-bar__label">- Главная -</span>
    </a></li>
    <li class="navigation-bar__item"><a class="navigation-bar__link" routerLink="agreement" routerLinkActive="navigation-bar__link--active">
      <fa-icon [icon]="faHandshake" class="navigation-bar__icon"></fa-icon>
      <span class="navigation-bar__label">- Соглашение -</span>
    </a></li>

    <li class="navigation-bar__item"><a class="navigation-bar__link" routerLink="events" routerLinkActive="navigation-bar__link--active">
      <fa-icon [icon]="faCalendarAlt" class="navigation-bar__icon"></fa-icon>
      <span class="navigation-bar__label">- Все конференции -</span>
    </a></li>

    <div class="navigation-bar__cap"></div>
    <li class="navigation-bar__item"><a class="navigation-bar__link" routerLink="login" routerLinkActive="navigation-bar__link--active">
      <fa-icon [icon]="faSignInAlt" class="navigation-bar__icon"></fa-icon>
      <span class="navigation-bar__label">- Авторизация -</span>
    </a></li>
  </ul>
</nav>
