<footer class="site-footer" role="footer">
  <img src="assets/images/GroupWhite.png" alt="Site Logo" class="site-footer__logo">
  <div class="site-footer__separator"></div>
  <div class="site-footer__text-block">
    <span class="site-footer__text-line">Дизайн,</span>
    <span class="site-footer__text-line">разработка</span>
    <span class="site-footer__text-line">и техническая поддержка ресурса:</span>
    <div class="site-footer__text-line site-footer__text-line--bold">IAC Mobile Dev Group</div>
  </div>
</footer>
