.site-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  display: -webkit-flex;
  background:url("/assets/images/dark-foot.png");
  padding: 40px;
  padding-right: 10px;
}

.site-footer__logo {
  display: inline-block;
  vertical-align: top;
  height: auto;
}

.site-footer__separator {
  display: inline-block;
  margin-left: 40px;
  padding: 0px;
  width: 0px;
  height: 104px;
  border-left: 1px solid #FFFFFF;
}

.site-footer__text-block {
  display: flex;
  flex-direction: column;
  flex-basis: 0%;
  flex-grow: 1;
  max-width: 270px;
  margin: 0px 40px;
}

.site-footer__text-line {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.site-footer__text-line--bold {
  font-weight: 500;
}

@media (max-width: 400px) {
  .site-footer {
    flex-direction: column;
    padding: 20px;
  }
  .site-footer__separator {
    display: flex;
    flex-grow: 1;
    width: 90%;
    height: 0px;
    border-left: 0px;
    border-bottom: 1px solid #FFFFFF;
    margin: 20px 0px;
  }
  .site-footer__text-block {
    margin: 0px;
  }
}
