<div class="personalData">
  <h2>Ваши данные:</h2>
  <div id="dataInput">
    <div class="data">
      <div class="fotoAvatar">
        <img alt="photo.png" id="photoUser" src="blob:http://events4me.iac.spb.ru/835444a1-c545-4976-b5b4-f53bcfcc20c1">
      </div>
      <div class="info1">
        <div class="nameAcc">
          Фамилия:
          <div class="infoAcc">
            Тест
          </div>
        </div>
        <div class="nameAcc">
          Имя:
          <div class="infoAcc">
            Тест
          </div>
        </div>
        <div class="nameAcc">
          Отчество:
          <div class="infoAcc">
            Тест
          </div>
        </div>
      </div>
      <div class="info2">
        <div class="nameAcc">
          Тип аккаунта:
          <div class="infoAcc">
            USER
          </div>
        </div>
        <div class="nameAcc">
          Телефон
          <div class="infoAcc">
            +7 988 889 99 99
          </div>
        </div>
        <div class="nameAcc">
          email:
          <div class="infoAcc">
            test@test.com
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
