h2 {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  padding: 0px 16px;
  margin-top: 60px;
  margin-bottom: 20px;
}
@media (orientation: portrait) and (max-width: 480px), (orientation: landscape) and (max-width: 720px) {
  h2 {
    margin: 20px 0px;
  }
}

.autorization-form {
  text-align: center;
}

.inputs-container {
  display: block;
  text-align: center;
  max-width: 380px;
  margin: 0 auto;
  padding: 0 16px;
}

 #email, #password {
  display: block;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  max-width: 380px;
  height: 50px;
  margin-bottom: 30px;
  border: 2px solid #92CBC5;
}
#email {
  background: url("/assets/images/login.png") no-repeat 25px 10.9px ;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 80px;
}
#password {
  background: url("/assets/images/key.png") no-repeat 24px 11px ;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 80px;
}
input::-moz-placeholder { color: #92CBC5; }
input::-webkit-input-placeholder { color: #92CBC5; }

#email:hover, #password:hover {
  border: 2px solid #EA4101;
  transition: all 0.2s linear;
}
#email:focus, #password:focus {
  padding-left: 26.1px;
  background: white;
}
#email[class*=input-error], #password[class*=input-error] {
  border: 2px solid #EA4101;
}

.submit-button-container {
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
}

.submit-button  {
  display: block;
  text-align: center;
  border: 0px;
  margin: 0 auto;
  width: 180px;
  height: 50px;
  background: #3F4F98;
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: white;
  cursor: pointer;
}

.remember-me {
  text-align: left;
}
.remember-me__label {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}
.remember-me__label > span {
  pointer-events: none;
  vertical-align: middle;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-decoration-line: underline;
  color: #3F4F98;
}

.remember-me__label > .invisible {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}
.remember-me__label input:checked + .remember-me__checkbox {
  border-color: #66afe9;
}
.remember-me__label input:checked + .remember-me__checkbox svg path {
  fill: #66afe9;
}
.remember-me__label input:checked + .remember-me__checkbox svg polyline {
  stroke-dashoffset: 0;
}
.remember-me__label:hover .remember-me__checkbox svg path {
  stroke-dashoffset: 0;
}
.remember-me__checkbox {
  position: relative;
  float: left;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 2px solid #C8CCD4;
  border-radius: 3px;
  margin-top: 3px;
  margin-bottom: 0;
}
.remember-me__checkbox:hover{
  border-color: white;
}
.remember-me__checkbox svg {
  position: absolute;
  top: -2px;
  left: -2px;
}
.remember-me__checkbox svg path {
  fill: none;
  stroke: #66afe9;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.6s ease;
}
.remember-me__checkbox svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.3s ease;
}
