site-header {
  display: flex;
  flex-grow: 0;
  width: 100%;
}

.site-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
}

site-footer {
  display: flex;
  flex-grow: 0;
  width: 100%;
}
