.event-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  font-family: Roboto;
  // line-height: 1.42857143;
  margin: 30px auto 0px;
}
.event-form__subtitle {
  width: 100%;
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
}

.event-form__groups {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 400px;
  min-width: 200px;
  padding: 0px 15px;
}
.event-form__groups--datetime {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.event-form__groups--organization {
  margin-bottom: 15px;
}
.form-group {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: flex-start;
  flex-basis: 50%;
  max-width: 100%;
  min-width: 120px;
  min-height: 1px;
  margin-bottom: 15px;
}
.form-group--datetime {
  flex-basis: 0%;
  min-width: 160px;
  padding: 0px 15px;
}

.form-group__label {
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}
.form-group__input {
  display: flex;
  flex-grow: 1;
  width: calc(100% - 26px);
  width: -webkit-fill-available;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  padding: 6px 12px;
}
.form-group__input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}
.form-group__input--textarea {
  resize: vertical;
}
.form-group__image {
  margin: 0 auto;
  display: block;
  width: 100px;
  padding-bottom: 16px;
  padding-top: 16px;
}
.form-group__url {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.only-employees {
  text-align: left;
}
.only-employees__label {
  user-select: none;
  margin-bottom: 0;
  cursor: pointer;
}
.only-employees__label > span {
  vertical-align: middle;
  font-size: 14px;
  font-weight: 700;
}
.only-employees__invisible {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}
.only-employees__label input:checked + .only-employees__checkbox {
  border-color: #66afe9;
}
.only-employees__label input:checked + .only-employees__checkbox svg path {
  fill: #66afe9;
}
.only-employees__label input:checked + .only-employees__checkbox svg polyline {
  stroke-dashoffset: 0;
}
.only-employees__label:hover .only-employees__checkbox svg path {
  stroke-dashoffset: 0;
}
.only-employees__checkbox {
  position: relative;
  float: left;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 2px solid #C8CCD4;
  border-radius: 3px;
  margin-bottom: 0;
}
.only-employees__checkbox:hover{
  border-color: white;
}
.only-employees__checkbox svg {
  position: absolute;
  top: -2px;
  left: -2px;
}
.only-employees__checkbox svg path {
  fill: none;
  stroke: #66afe9;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.6s ease;
}
.only-employees__checkbox svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.3s ease;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.upload__image {
  display: flex;
  width: 50%;
  margin-bottom: 10px;
}

.form-group--map {
  position: relative;
  height: 50%;
 }

.form-group__map {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  min-height: 350px;
  max-height: 400px;
}

.event-form__submit-container {
  display: flex;
  width: 100%;
  margin-top: 100px;
}
.submit-button {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  min-width: 120px;
  max-width: 360px;
  height: 66px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: white;
  line-height: 26px;
  background-color: #3F4F98;
  border: none;
  border-radius: 6px;
  margin: 0 auto;
  cursor: pointer;
}
.event-form__submit-button:hover{
  background-color: #5968ab;
}
