<div class="agreements">
  <h2 class="agreements__title">
    Пользовательское соглашение об условиях использования мобильного приложения<br>
    "Мои события"
  </h2>

  <h3 class="agreements__subtitle">1. ОБЩИЕ ПОЛОЖЕНИЯ</h3>
  <div class="agreement">
    <div class="agreement__paragraph">1.1.</div>
    <div class="agreement__text">Настоящее Пользовательское соглашение (далее — «Соглашение») регламентирует
      отношения между "СПб ГУП СПб ИАЦ" (Санкт-Петербургский информационно-аналитический центр),
      имеющим адрес местонахождения Г САНКТ-ПЕТЕРБУРГ,ПЕР ТРАНСПОРТНЫЙ, 6 ЛИТЕР А ПОМ 7 Н 8 Н (далее —
      «Компания»), и лицом, использующим мобильное приложение «M&amp;Е - Мои события» (далее —
      «Пользователь» и «Приложение» соответственно). Условия настоящего Соглашения являются публичной офертой в
      соответствии со ст. 437 Гражданского кодекса Российской Фeдерации и использование Приложения
      возможно исключительно на условиях настоящего Соглашения. Прохождение процедуры активации
      Приложения в соответствии с пунктом.
    </div>
  </div>
  <div class="agreement">
    <div class="agreement__paragraph">1.2.</div>
    <div class="agreement__text">Настоящего Соглашения (далее — «Регистрация») и дальнейшее использование
      Приложения является подтверждением согласия со всеми условиями, указанными в настоящем
      Соглашении. Компания признает Пользователем любое лицо, которое прошло процедуру Регистрации в Приложении и
      использует Приложение в соответствии с его функциональным назначением. На таких лиц
      распространяются положения данного Соглашения в соответствии со статьями 437 и 438 Гражданского кодекса
      Российской Федерации.
    </div>
  </div>
  <div class="agreement">
    <div class="agreement__paragraph">1.3.</div>
    <div class="agreement__text">Принимая условия настоящего Соглашения, Пользователь подтверждает свое
      согласие на обработку Группой разработчиков его персональных данных, предоставленных при регистрации, в
      том числе, но не ограничиваясь, для формирования и передачи ответа Пользователю, а также разрешения
      возможных претензий. Также Пользователь подтверждает свое согласие с передачей указанных выше
      персональных данных третьим лицам (в том числе банкам, лицам, в адрес которых банк по
      распоряжению Пользователя, направленному с использованием Приложения, переводит денежные средства и пр.) и их
      обработку третьими лицами в целях исполнения настоящего Соглашения и реализации функционирования
      Приложения, а также разрешения претензий, связанных с исполнением настоящего Соглашения.
    </div>
  </div>
  <div class="agreement">
    <div class="agreement__paragraph">1.4.</div>
    <div class="agreement__text">Настоящее Соглашение может быть изменено и/или дополнено Группой
      разработчиков в
      одностороннем порядке. При этом продолжение использования Приложения после внесения изменений
      и/или дополнений в настоящее Соглашение, означает согласие Пользователя с такими изменениями и/или
      дополнениями. В случае несогласия с условиями такого измененного Соглашения, Пользователь обязан
      отказаться от дальнейшего использования Приложения.
    </div>
  </div>
  <div class="agreement">
    <div class="agreement__paragraph">1.5.</div>
    <div class="agreement__text">Обращения, предложения и претензии физических и юридических лиц к Группе
      разработчиков, связанные с содержанием и функционированием Приложения, нарушениями прав и
      интересов третьих лиц, требований законодательства Российской Федерации, а также для запросов
      уполномоченных законодательством Российской Федерации лиц могут быть направлены на адрес электронной почты:
      support@freeworker.pro.
    </div>
  </div>
  <div class="agreement">
    <div class="agreement__paragraph">1.6.</div>
    <div class="agreement__text">Настоящее Соглашение составлено в соответствии с законодательством
      Российской Федерации. Вопросы, не урегулированные Соглашением, подлежат разрешению в соответствии с
      законодательством Российской Федерации.
    </div>
  </div>
  <div class="agreement">
    <div class="agreement__paragraph">1.7.</div>
    <div class="agreement__text">Соглашаясь с условиями настоящего Соглашения, Пользователь подтверждает свои
      право- и дееспособность, подтверждает достоверность введенных им при регистрации данных и
      принимает на себя всю ответственность за их точность, полноту и достоверность.
    </div>
  </div>
  <div class="agreement">
    <div class="agreement__paragraph">1.8</div>
    <div class="agreement__text">Пользователь принимает на себя все возможные риски, связанные с допущенными
      им ошибками и неточностями в предоставленных данных.
    </div>
  </div>

  <h3 class="agreements__subtitle">2. ФУНКЦИОНАЛЬНЫЕ ВОЗМОЖНОСТИ ПРИЛОЖЕНИЯ</h3>
  <div class="agreement">
    <div class="agreement__paragraph">2.1.</div>
    <div class="agreement__text">Приложение позволяет Пользователям хранить идентификационные данные, а также
        с использованием мобильного телефона передавать распоряжения на перевод денежных средств в адрес
        банка-эквайера, передавать заказы на приобретение услуг третьих лиц, а также осуществлять иное
        информационное взаимодействие с третьими лицами. Порядок предоставления услуг третьими лицами,
        регламентируется отдельными соглашениями с лицами, предоставляющими такие услуги (далее по
        тексту — «Поставщики услуг»), а также утвержденными и опубликованными ими правилами.
    </div>
  </div>
</div>
