<header class="site-header" role="banner">
  <div class="site-header__links-container">
    <a href=""><img src="assets/images/Group.png" alt="Site Logo"></a>
    <div class="site-header__app-links-container">
      <a href="https://apps.apple.com/us/app/%D0%BC%D0%BE%D0%B8-%D1%81%D0%BE%D0%B1%D1%8B%D1%82%D0%B8%D1%8F/id1463771812?l=ru&amp;ls=1" target="_blank" class="site-header__app-link">
        <img src="assets/images/appstore2.png" alt="AppStore Link">
      </a>
      <a href="https://play.google.com/store/apps/details?id=ru.spb.iac.events4me" target="_blank" class="site-header__app-link" >
        <img src="assets/images/ggplay.png" alt="GooglePlay Link">
      </a>
    </div>
  </div>
  <div class="site-header__title">
    Мои события: конференции и интересные события в Санкт-Петербурге
  </div>
</header>
